body{
    width: 100%;
    height: 100vh;
    background: url(../image/flat-lay-wooden-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.post{
    background: rgba(255, 255, 255, 0.841);
    backdrop-filter: blur(2);
}